.site-header {
	display: flex;
	flex-direction: column;
	width: 160px;
	box-sizing: content-box;
	padding-left: calc((100% - 1100px) / 2);
	background-color: #fff;
	z-index: 10;
	border-right: var(--border);
	position: fixed;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	top: 0;
	left: 0;

	@mixin atLarge {
		box-sizing: border-box;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: var(--header-height);
		padding-left: var(--wrapper-padding);
		padding-right: var(--wrapper-padding);
		border-right: none;
		min-height: auto;
	}

	&__logo {
		height: 80px;
		background-color: #fff;

		a {
			display: block;
			width: 100px;
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}

		@mixin atLarge {
			height: var(--header-height);
			a {
				width: 130px;
			}
		}

		@mixin atMedium {
			height: var(--header-height);
			a {
				width: 120px;
			}
		}

		@mixin atSmall {
			height: var(--header-height);
			a {
				width: 80px;
			}
		}
	}

	&__menu-wrapper {
		@mixin atLarge {
			width: 100%;
			height: calc(100vh - var(--header-height));
			height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height));
			padding-left: var(--wrapper-padding);
			padding-right: var(--wrapper-padding);
			position: absolute;
			top: var(--header-height);
			z-index: 1000;
			right: 0;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			transform: translateX(100%);
			transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

			&--active {
				transform: translateX(0%);
			}

			& > ul > li {
				opacity: 0;
			}
		}

		@keyframes menuLinkFade {
			from {
				opacity: 0;
				transform: translateX(50px);
			}
			to {
				opacity: 1;
				transform: translateX(0px);
			}
		}
	}
}

.header {
	&--line,
	&--bg {
		width: 100%;
		height: 80px;
		position: fixed;
		top: 0;
		pointer-events: none;
		@mixin atLarge {
			display: none;
		}
	}

	&--line {
		z-index: 10;
		border-bottom: var(--border);
	}

	&--bg {
		z-index: 9;
		background-color: #fff;
	}
}
